<%- include("partials/header") -%>




<div>
    <h1><%= posts.topic %></h1>
    <p class="entryBody">
        <strong><%= posts.date + ": "%></strong> 
        <%= posts.entry %>
    </p>
</div>


<%- include("partials/footer") -%>